<div class="card shadow-sm bg-white rounded" *ngIf="!forecastData">
  <div class="row">
    <div class="col-2">
      <div class="card">
        hour 1
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        hour 2
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        hour 3
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        hour 4
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        hour 5
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        hour 6
      </div>
    </div>
  </div>
</div>
