<body>
<div class="container-fluid">
  <div class="row align-items-top">
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPI(weatherSearchForm.value)">
        <div class="row align-items-center form-group rounded">
          <div class="col-11 justify-content-center">
          <input
            class="form-control rounded"
            type="text"
            id="location"
            aria-describedby="location"
            placeholder="Search for a Location"
            formControlName="location"/>
          </div>
          <div class="col-1 justify-content-center">
          <button type="submit" class="btn">
            <i class="bi bi-search"></i>
          </button>
          </div>
        </div>
      </form>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card shadow-sm text-center bg-white rounded h-50">
        <img alt="Something went wrong!"
             src={{this.weatherData?.current.condition.icon}} />
        <h5 class="card-text">
          {{this.weatherData?.current.condition.text}}, {{this.weatherData?.current.temp_f}} °F
        </h5>
        <h6 class="card-text">
          Feels like {{this.weatherData?.current.feelslike_f}} °F
        </h6>
      </div>
    </div>
  </div>


</div>
</body>
